# packages in environment at /Users/user/anaconda/envs/coa:
#
flask                     0.10.1                    <pip>
itsdangerous              0.24                      <pip>
jinja2                    2.8                       <pip>
markupsafe                0.23                      <pip>
openssl                   1.0.1k                        1  
pip                       7.1.2                    py27_0  
pymysql                   0.6.6                     <pip>
python                    2.7.10                        0  
readline                  6.2                           2  
setuptools                18.1                     py27_0  
sqlite                    3.8.4.1                       1  
tk                        8.5.18                        0  
werkzeug                  0.10.4                    <pip>
wheel                     0.24.0                   py27_0  
zlib                      1.2.8                         0  
