{% extends "index.html" %}
{% block content %}
<br>

<div class="jumbotron"><h3 align="center">Q: What's the trend of debris being collected? TEST TEST </h3></div>
<div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div class="jumbotron">
<h3 align="center">Q: What debris have been collected by Clean Ocean Action Beach Sweep?</h3></div>
<div id="container1" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

<div class="jumbotron"><h3 align="center">Q: Which beaches need our help? </h3></div>
<div id="container2" style="min-width: 310px; max-width: 1000px; height: 600px; margin: 0 auto"></div>

<pre id="tsv" style="display:none">
CLOTH--Blankets/Sheets/Towels	0.17%
CLOTH--Clothing: Specify	0.27%
CLOTH--Other Cloth: Specify	0.46%
CLOTH--Shoes/Sandals	0.25%
CLOTH--String (No Balloon)	0.38%
FOAM PLASTIC--Building Materials (specify)	1.18%
FOAM PLASTIC--Buoys/Floats	0.07%
FOAM PLASTIC--Fast Food Containers	0.30%
FOAM PLASTIC--Foam Cups	0.98%
FOAM PLASTIC--Foam Pieces	5.76%
FOAM PLASTIC--Foam Plates	0.32%
FOAM PLASTIC--Other Foam Plastic (specify)	0.84%
FOAM PLASTIC--Packaging Materials	0.58%
GLASS--Beverage Bottles	2.07%
GLASS--Glass Pieces	2.52%
GLASS--Lights: Bulbs	0.03%
GLASS--Lights: Fluorescent Tubes	0.01%
GLASS--Other Bottles/Jars	0.22%
GLASS--Other Glass (specify)	0.58%
GLASS--Pieces	0.45%
METAL--55 Gallon Drums: New	0.01%
METAL--55 Gallon Drums: Old	0.01%
METAL--Aerosol Cans	0.12%
METAL--Appliances: Specify	0.04%
METAL--Batteries: Car	0.01%
METAL--Batteries: Other	0.03%
METAL--Beverages Cans	1.73%
METAL--Bottles Caps	1.12%
METAL--Car Parts	0.05%
METAL--Crab/Fish Traps	0.03%
METAL--Fishing: Hooks	0.03%
METAL--Fishing: Sinkers	0.02%
METAL--Foil	0.29%
METAL--Metal Pieces	0.57%
METAL--Nails	1.25%
METAL--Other Cans	0.13%
METAL--Other Metal: Specify	0.41%
METAL--Pull/Pop Tabs	0.10%
METAL--Wire	0.64%
PAPER--Cardboard	0.41%
PAPER--Cartons/Boxes	0.16%
PAPER--Cups	0.55%
PAPER--Newspaper/Magazines	0.21%
PAPER--Other Paper: Specify	0.23%
PAPER--Paper Bags	0.37%
PAPER--Paper Pieces	1.07%
PAPER--Plates	0.09%
PLASTIC--6-Pack Holders	0.09%
PLASTIC--Bait Bags/Containers	0.17%
PLASTIC--Beverages/Soda Bottles	3.59%
PLASTIC--Bleach/Cleaner Bottles	0.25%
PLASTIC--Buckets/Crates/Bins	0.24%
PLASTIC--Cap/Lids	10.36%
PLASTIC--Cap/Rings	0.99%
PLASTIC--Cigar Tips	1.38%
PLASTIC--Cups	1.04%
PLASTIC--Diapers	0.07%
PLASTIC--Filters	9.01%
PLASTIC--Food, Candy Wrappers/Bags	10.49%
PLASTIC--Forks, Knives, Spoons	1.24%
PLASTIC--Light Sticks	0.20%
PLASTIC--Lighters	0.34%
PLASTIC--Line	0.52%
PLASTIC--Lures,Floats	0.12%
PLASTIC--Nets - Large	0.02%
PLASTIC--Nets - Small	0.09%
PLASTIC--Other Bags	1.38%
PLASTIC--Other Bottles	0.73%
PLASTIC--Other Plastics (specify)	1.04%
PLASTIC--Packaging	0.53%
PLASTIC--Pens	0.28%
PLASTIC--Plastic Pieces	7.43%
PLASTIC--Ribbon/Tape (no balloon)	0.64%
PLASTIC--Rope	0.64%
PLASTIC--Sheeting Tarps	0.10%
PLASTIC--Shotgun Shells	0.21%
PLASTIC--Store/Shopping Bags	2.87%
PLASTIC--Strapping Bands	0.23%
PLASTIC--Straws/Stirrers	5.97%
PLASTIC--Syringes	0.08%
PLASTIC--Tampon Applicators	0.81%
PLASTIC--Toys	0.39%
PLASTIC--Trash Bags	1.06%
PLASTIC--Vegetable Sacks	0.03%
RUBBER--Balloons - Mylar	0.34%
RUBBER--Balloons - Rubber	0.21%
RUBBER--Condoms	0.20%
RUBBER--Gloves	0.21%
RUBBER--Mylar With String/Ribbon	0.24%
RUBBER--Other Rubber: Specify	0.34%
RUBBER--Rubber With String/Ribbon	0.16%
RUBBER--Tires: Part	0.13%
RUBBER--Tires: Whole	0.03%
WOOD--Crab/Lobster Traps	0.04%
WOOD--Crates/Baskets	0.02%
WOOD--Ice Cream Spoon/Sticks	0.21%
WOOD--Lumber Pieces	4.33%
WOOD--Other Wood: Specify	1.62%
WOOD--Pallets	0.20%
</pre>

<!--
<div class="jumbotron"><h3 align="center">Q: How long does it take an item to degrade?</h3></div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="/static/img/degrad.png" class="img-responsive">
    </div>
</div>


<div class="jumbotron"><h3 align="center">Q: Did walking farther mean picking up more trash?</h3></div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="/static/img/dist_trash.png" class="img-responsive">
    </div>
</div>

<div class="jumbotron"><h3 align="center">Q: What are the types of trash most prominent in each county?</h3></div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="/static/img/coa_radar.png" class="img-responsive">
    </div>
</div>

<div class="jumbotron"><h3 align="center">Q: What was collected the most?</h3></div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="/static/img/litter1.png" class="img-responsive">
    </div>
</div>
-->
<script>

$(function () {

    Highcharts.data({
        csv: document.getElementById('tsv').innerHTML,
        itemDelimiter: '\t',
        parsed: function (columns) {

            var brands = {},
                brandsData = [],
                versions = {},
                drilldownSeries = [];

            // Parse percentage strings
            columns[1] = $.map(columns[1], function (value) {
                if (value.indexOf('%') === value.length - 1) {
                    value = parseFloat(value);
                }
                return value;
            });

            $.each(columns[0], function (i, name) {
                var brand,
                    version;

                if (i > 0) {

                    // Remove special edition notes
                    version=name.split('--')[1]
                    brand = name.split('--')[0];

                    // Split into brand and version
                    // version = name.match(/([0-9]+[\.0-9x]*)/);
                    //if (version) {
                    //    version = version[0];
                    //}
                    //brand = name.replace(version, '');

                    // Create the main data
                    if (!brands[brand]) {
                        brands[brand] = columns[1][i];
                    } else {
                        brands[brand] += columns[1][i];
                    }

                    // Create the version data
                    if (version !== null) {
                        if (!versions[brand]) {
                            versions[brand] = [];
                        }
                        versions[brand].push([ version, columns[1][i]]);
                    }
                }

            });

            $.each(brands, function (name, y) {
                brandsData.push({
                    name: name,
                    y: y,
                    drilldown: versions[name] ? name : null
                });
            });
            $.each(versions, function (key, value) {
                drilldownSeries.push({
                    name: key,
                    id: key,
                    data: value
                });
            });

            // Create the chart
            $('#container1').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Debris Categories from 2006-2013'
                },
                subtitle: {
                    text: 'Click the slices to view versions'
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}: {point.y:.1f}%'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                },

                series: [{
                    name: 'toplevel',
                    colorByPoint: true,
                    data: brandsData
                }],
                drilldown: {
                    series: drilldownSeries
                }
            });
        }
    });
});

$(function () {
    var categories = ['Atlantic,Forsythe',
'Atlantic,Granville',
'Atlantic,Missouri',
'Cape May,30th St',
'Cape May,Poplar',
'Essex,Tonys Brook',
'Middlesex,South Amboy',
'Monmouth,Red Bank',
'Monmouth,Sandy Hook',
'Monmouth,Union Beach',
'Ocean,Jenkinsons',
'Ocean,Love Ladies',
'Ocean,Maryland Ave',
'Ocean,Maxson Ave'
    ];
    $(document).ready(function () {
        $('#container2').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'The amount of debris collected per volunteer on beach in 2013'
            },
            subtitle: {
                text: 'Source: http://www.cleanoceanaction.org/'
            },
            xAxis: [{
                categories: categories,
                reversed: false,
                labels: {
                    step: 1
                },title: {text: 'NJ beaches'}

            }, { // mirror axis on right side
                opposite: true,
                reversed: false,
                categories: categories,
                linkedTo: 0,
                labels: {
                    step: 1
                }

            }],
            yAxis: {
                title: {
                    text: null
                },
                labels: {
                    formatter: function () {
                        return (Math.abs(this.value));
                    }
                },
                min: -200,
                max: 200,
                title: {text: 'debris in hundred bags'}
            },

            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + ', age ' + this.point.category + '</b><br/>' +
                        'Number of debris items per volunteer: ' + Highcharts.numberFormat(Math.abs(this.point.y), 0);
                }
            },

            series: [{
                name: 'total debris in spring',
                data: [-932/100,
-456/100,
-5584/100,
-880/100,
-4506/100,
-3687/100,
-3034/100,
-684/100,
-23327/100,
-3120/100,
-7113/100,
-876/100,
-1499/100,
-1257/100,
]},
{
                name: 'total debris in fall',
                data: [956/100,
52/100,
8485/100,
700/100,
2578/100,
185/100,
1210/100,
364/100,
26563/100,
7578.5/100,
3880/100,
1252/100,
777/100,
1395/100
]},
{
                name: 'debris per volunteer in spring',
                data: [-23.3,
-17.53846154,
-69.8,
-25.88235294,
-39.1826087,
-67.03636364,
-112.3703704,
-40.23529412,
-20.82767857,
-26.66666667,
-60.27966102,
-25.02857143,
-17.43023256,
-59.85714286]
            },
     {
                name: 'debris per volunteer in fall',
                data: [23.9,
2,
106.0625,
20.58823529,
22.4173913,
3.363636364,
44.81481481,
21.41176471,
23.71696429,
64.77350427,
32.88135593,
35.77142857,
9.034883721,
66.42857143
]
            }
            ]
        });
    });

});


$(function () {

    var ranges = [
          [1993,135919,135919],
[1994,187381,187381],
[1995,222823,222823],
[1996,173477,173477],
[1997,209110,209110],
[1998,184954,184954],
[1999,252427,252427],
[2000,212293,212293],
[2001,243475,243475],
[2002,221742,221742],
[2003,242714,242714],
[2004,338423,338423],
[2005,160831,160831],
[2006,259053,259053],
[2007,304342,304342],
[2008,289976,289976],
[2009,301564,301564],
[2010,475321,475321],
[2011,452698,452698],
[2012,351781,351781],
[2013,325163,325163],
[2014,164880,1332514],
[2015,175068,1642902],
[2016,184250,2043563],
        ],
        averages = [
           [1993,135919],
[1994,187381],
[1995,222823],
[1996,173477],
[1997,209110],
[1998,184954],
[1999,252427],
[2000,212293],
[2001,243475],
[2002,221742],
[2003,242714],
[2004,338423],
[2005,160831],
[2006,131251],
[2007,248165],
[2008,146505],
[2009,215466],
[2010,388512],
[2011,484481],
[2012,290335],
[2013,325163],
[2014,468727],
[2015,536302],
[2016,613618],
        ];



    $('#container3').highcharts({

        title: {
            text: 'Total Debris Items Collected since 1993'
        },

        xAxis: {
            type: 'Source: http://www.cleanoceanaction.org/'
            ,title: {text: 'Year'}
        },

        yAxis: {
            title: {text: 'Number of items'}
        },

        tooltip: {
            crosshairs: true,
            //shared: true,
            //valueSuffix: ' items'
        },

        legend: {
        },

        series: [{
            name: 'Total debris items',
            data: averages,
            zIndex: 1,
            marker: {
                fillColor: 'white',
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[0]
            }
        }, {
            name: 'Range',
            data: ranges,
            type: 'arearange',
            lineWidth: 0,
            linkedTo: ':previous',
            color: Highcharts.getOptions().colors[0],
            fillOpacity: 0.3,
            zIndex: 0
        }]
    });
});


</script>

{% endblock %}