{% extends "index.html" %}
{% block content %}
<br>
<div class="jumbotron"><h3 align="center">Q: What's the trend of debris being collected?</h3></div>
<div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div class="jumbotron">
    <h3 align="center">Q: What debris have been collected by Clean Ocean Action Beach Sweep?</h3>
</div>

<div style="text-align: center; padding-bottom: 30px">
    <span style="font-weight: bold; padding-right: 10px">Select Year</span>
    {% for i in years %}
        <button class="btn btn-default btn-xs" id={{i}}>{{i}}</button>
    {% endfor %}
</div>

<div id="container1" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

<div class="jumbotron"><h3 align="center">Q: Which beaches need our help? </h3></div>
<div id="container2" style="min-width: 310px; max-width: 1000px; height: 600px; margin: 0 auto"></div>

<pre id="tsv" style="display:none">
    {% for i in item_categories %}
        {{ i }}
    {% endfor %}
</pre>

<!--
<div class="jumbotron"><h3 align="center">Q: How long does it take an item to degrade?</h3></div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="/static/img/degrad.png" class="img-responsive">
    </div>
</div>


<div class="jumbotron"><h3 align="center">Q: Did walking farther mean picking up more trash?</h3></div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="/static/img/dist_trash.png" class="img-responsive">
    </div>
</div>

<div class="jumbotron"><h3 align="center">Q: What are the types of trash most prominent in each county?</h3></div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="/static/img/coa_radar.png" class="img-responsive">
    </div>
</div>

<div class="jumbotron"><h3 align="center">Q: What was collected the most?</h3></div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="/static/img/litter1.png" class="img-responsive">
    </div>
</div>
-->
<script>
var chart = null;

$(function () {
    Highcharts.data({
        csv: document.getElementById('tsv').innerHTML,
        itemDelimiter: '\t',
        parsed: function (columns) {
            var columnFilter = function (value) {
                if (value !== undefined && value != "undefined") {
                    return true;
                }
                return false;
            }

            columns[0] = $.grep(columns[0], columnFilter);
            columns[1] = $.grep(columns[1], columnFilter);

	        // Parse percentage strings
            columns[1] = $.map(columns[1], function (value) {
                if (value.indexOf('%') === value.length - 1) {
                    value = parseFloat(value);
                }
                return value;
            });

            var generateSeriesData = function(year) {
                var topLevelAggregated = {},
                    drillDownAggregated = {},
                    topLevelSeries = [],
                    drillDownSeries = [];

                $.each(columns[0], function (i, name) {
                    var material,
                        category;

                    if (i > 0) {
                        tokens = name.split('--');
                        if (parseInt(tokens[0]) === year) {
                            material = tokens[1];
                            category = tokens[2];

                            // Create the top level data
                            if (!topLevelAggregated[material]) {
                                topLevelAggregated[material] = columns[1][i];
                            } else {
                                topLevelAggregated[material] += columns[1][i];
                            }

                            // Create the drill down data
                            if (category !== null) {
                                if (!drillDownAggregated[material]) {
                                    drillDownAggregated[material] = [];
                                }
                                drillDownAggregated[material].push([category, columns[1][i]]);
                            }
                        }
                    }
                });

                $.each(topLevelAggregated, function (name, y) {
                    topLevelSeries.push({
                        name: name,
                        y: y,
                        drilldown: drillDownAggregated[name] ? name : null
                    });
                });

                $.each(drillDownAggregated, function (key, value) {
                    drillDownSeries.push({
                        name: key,
                        id: key,
                        data: value
                    });
                });

                return {topLevelSeries: topLevelSeries,
                        drillDownSeries: drillDownSeries};
            }

            // Generate default series on page load
            const DEFAULT_YEAR_ON_PAGE_LOAD = 2017;
            var seriesData = generateSeriesData(DEFAULT_YEAR_ON_PAGE_LOAD);

            var generateChartOptions = function(year, seriesData) {
                return {
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: `Debris Categories (${year})`
                    },
                    subtitle: {
                        text: 'Click the slices to view versions'
                    },
                    plotOptions: {
                        series: {
                            dataLabels: {
                                enabled: true,
                                format: '{point.name}: {point.y:.1f}%'
                            }
                        }
                    },

                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                    },

                    series: [{
                        name: 'toplevel',
                        colorByPoint: true,
                        data: seriesData.topLevelSeries
                    }],
                    drilldown: {
                        series: seriesData.drillDownSeries
                    }
                };
            }

            chart = Highcharts.chart('container1', generateChartOptions(DEFAULT_YEAR_ON_PAGE_LOAD, seriesData));

            $('.btn').click(function(e) {
                var year = parseInt(e.target.id);
                var seriesData = generateSeriesData(year);
                chart = new Highcharts.Chart('container1', generateChartOptions(year, seriesData));
            });
        }
    });
});

$(function () {
    var categories = ['Atlantic,Forsythe',
'Atlantic,Granville',
'Atlantic,Missouri',
'Cape May,30th St',
'Cape May,Poplar',
'Essex,Tonys Brook',
'Middlesex,South Amboy',
'Monmouth,Red Bank',
'Monmouth,Sandy Hook',
'Monmouth,Union Beach',
'Ocean,Jenkinsons',
'Ocean,Love Ladies',
'Ocean,Maryland Ave',
'Ocean,Maxson Ave'
    ];
    $(document).ready(function () {
        $('#container2').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'The amount of debris collected per volunteer on beach in 2013'
            },
            subtitle: {
                text: 'Source: http://www.cleanoceanaction.org/'
            },
            xAxis: [{
                categories: categories,
                reversed: false,
                labels: {
                    step: 1
                },title: {text: 'NJ beaches'}

            }, { // mirror axis on right side
                opposite: true,
                reversed: false,
                categories: categories,
                linkedTo: 0,
                labels: {
                    step: 1
                }

            }],
            yAxis: {
                title: {
                    text: null
                },
                labels: {
                    formatter: function () {
                        return (Math.abs(this.value));
                    }
                },
                min: -200,
                max: 200,
                title: {text: 'debris in hundred bags'}
            },

            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + ', age ' + this.point.category + '</b><br/>' +
                        'Number of debris items per volunteer: ' + Highcharts.numberFormat(Math.abs(this.point.y), 0);
                }
            },

            series: [{
                name: 'total debris in spring',
                data: [-932/100,
-456/100,
-5584/100,
-880/100,
-4506/100,
-3687/100,
-3034/100,
-684/100,
-23327/100,
-3120/100,
-7113/100,
-876/100,
-1499/100,
-1257/100,
]},
{
                name: 'total debris in fall',
                data: [956/100,
52/100,
8485/100,
700/100,
2578/100,
185/100,
1210/100,
364/100,
26563/100,
7578.5/100,
3880/100,
1252/100,
777/100,
1395/100
]},
{
                name: 'debris per volunteer in spring',
                data: [-23.3,
-17.53846154,
-69.8,
-25.88235294,
-39.1826087,
-67.03636364,
-112.3703704,
-40.23529412,
-20.82767857,
-26.66666667,
-60.27966102,
-25.02857143,
-17.43023256,
-59.85714286]
            },
     {
                name: 'debris per volunteer in fall',
                data: [23.9,
2,
106.0625,
20.58823529,
22.4173913,
3.363636364,
44.81481481,
21.41176471,
23.71696429,
64.77350427,
32.88135593,
35.77142857,
9.034883721,
66.42857143
]
            }
            ]
        });
    });

});


$(function () {

    var ranges = [
          [1993,135919,135919],
[1994,187381,187381],
[1995,222823,222823],
[1996,173477,173477],
[1997,209110,209110],
[1998,184954,184954],
[1999,252427,252427],
[2000,212293,212293],
[2001,243475,243475],
[2002,221742,221742],
[2003,242714,242714],
[2004,338423,338423],
[2005,160831,160831],
[2006,259053,259053],
[2007,304342,304342],
[2008,289976,289976],
[2009,301564,301564],
[2010,475321,475321],
[2011,452698,452698],
[2012,351781,351781],
[2013,325163,325163],
[2014,164880,1332514],
[2015,175068,1642902],
[2016,184250,2043563],
        ],
        averages = [
           [1993,135919],
[1994,187381],
[1995,222823],
[1996,173477],
[1997,209110],
[1998,184954],
[1999,252427],
[2000,212293],
[2001,243475],
[2002,221742],
[2003,242714],
[2004,338423],
[2005,160831],
[2006,131251],
[2007,248165],
[2008,146505],
[2009,215466],
[2010,388512],
[2011,484481],
[2012,290335],
[2013,325163],
[2014,468727],
[2015,536302],
[2016,613618],
        ];



    $('#container3').highcharts({

        title: {
            text: 'Total Debris Items Collected since 1993'
        },

        xAxis: {
            type: 'Source: http://www.cleanoceanaction.org/'
            ,title: {text: 'Year'}
        },

        yAxis: {
            title: {text: 'Number of items'}
        },

        tooltip: {
            crosshairs: true,
            //shared: true,
            //valueSuffix: ' items'
        },

        legend: {
        },

        series: [{
            name: 'Total debris items',
            data: averages,
            zIndex: 1,
            marker: {
                fillColor: 'white',
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[0]
            }
        }, {
            name: 'Range',
            data: ranges,
            type: 'arearange',
            lineWidth: 0,
            linkedTo: ':previous',
            color: Highcharts.getOptions().colors[0],
            fillOpacity: 0.3,
            zIndex: 0
        }]
    });
});


</script>

{% endblock %}
