<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="../static/d3/liquidFillGauge.js" language="JavaScript"></script>
    <style>
        .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
    </style>
</head>
<body>
<svg id="fillgauge1" width="97%" height="500"></svg>

<script language="JavaScript">

    var config1 = liquidFillGaugeDefaultSettings();
    config1.circleThickness = 0.1;
    config1.circleFillGap = 0.1;
    config1.textVertPosition = 0.8;
    config1.waveAnimateTime = 2000;
    config1.waveHeight = 0.3;
    config1.waveCount = 1;
    loadLiquidFillGauge("fillgauge1", 65, config1);

</script>
</body>
</html>